.container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #D5D5D5;
    stroke: 1px solid #D5D5D5;
    border-radius: 5px;

    .icon {
        position: absolute;
        top: 55%;
        left: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        /* Evita que el cursor interactúe con el icono */
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: none;
        font-size: 1rem;
        flex: 1;
        padding: 10px 15px;
        padding-left: 40px;
    }
}

