<form class="container">
    <div class="input-container">
        <span class="icon"> 
            <button [matMenuTriggerFor]="menu" class="icon-buton">
                @if (currentIcon() == "search") {
                    <search-svg></search-svg>
                }@else {
                    <mat-icon>{{currentIcon()}}</mat-icon>
                }
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onChangeIcon(iconOptions.Person)">Nombre</button>
                <button mat-menu-item (click)="onChangeIcon(iconOptions.Email)">Email</button>
                <button mat-menu-item (click)="onChangeIcon(iconOptions.Phone)">Numbero</button>
            </mat-menu>
        </span>
        <input maxlength="30" [formControl]="searchInput" [matAutocomplete]="auto" placeholder="Buscar Estudiante">
    </div>
    <mat-autocomplete #auto="matAutocomplete">
        @for (option of (filteredOptions)?.hits ?? []; track $index) {
        <mat-option [value]="option.name + ' ' +option.lastname" [routerLink]="['students',option.id]">
            <span><small>{{option.name}}</small></span> |
            <span><small>{{option.email}}</small></span> |
            <span><small>{{option.number}}</small></span>
        </mat-option>
        }
    </mat-autocomplete>

</form>