.nav-left{
    display: flex;
    align-items: center;
}


.content-center{
    padding-left: 100px;
    align-content: center;
    flex-grow: 1;
    .container-search{
        width: 100%;
        max-width: 480px;
    }
}

.nav-container{
    display: flex;
    background-color: white;
    border-bottom: 1px solid #ddd;
    height: 10vh;
}