.modal {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(27, 36, 49, .50);
    display: flex;
    justify-content: center;
    align-items: center;

    .container-modal {
        width: 66.6667%;
        /* 2/3 del ancho de la pantalla */
        max-width: 800px;
        background-color: #F5F6FA;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
    }

    .top-modal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px ;

        .back-button {
            border: none;
            border-radius: 5px;
            background-color: #F5F6FA;
        
            padding: 5px;
            display: flex;
            align-items: center; // Alineación vertical centrada
            justify-content: center;
            cursor: pointer;
            border: 1px solid black;
            svg {
                width: 8px;
                height: 12px;
                fill: black;
            }
        }
    }
}