button {
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    /* Ajuste del tamaño del botón */
    border: none;
    /* Eliminar borde predeterminado */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.warning {
    text-align: center;
    margin: 30px 10px;

    h3 {
        font-size: 2rem;
        font-size: 600;

        b {
            font-weight: 900;
        }
    }
}

.actions-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    margin: 60px;

    .button-delete {
        background-color: #FF4848;
    }

    .button-accept {
        background-color: #00B69B;
    }

}