
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.nav-header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


.nav-items.bottom{
    flex-grow: 1;
    overflow-y: auto;
}


.nav-items {

    .item-nav {
        border-radius: 0;
        &.active{
            border-left: 5px solid #4880FF;
        }
        &.active.course{
            background-color: rgba(0, 0, 0, 0.05);
        }

    }
}