<div>
  <mat-form-field style="width: .1px; height: .1px; visibility: hidden;" subscriptSizing="dynamic">
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start">
      <input matEndDate formControlName="end">
    </mat-date-range-input>
    <mat-date-range-picker #picker (closed)="onClose()"></mat-date-range-picker>
  </mat-form-field>

  <button (click)="picker.open()" class="tag-button">
    <span class="tag-date">{{(range.get("start")?.value) | date: 'dd MMMM, yyyy '}}</span>
    <span class="tag-separator"> - </span>
    <span class="tag-date">{{(range.get("end")?.value) | date: 'dd MMMM, yyyy'}}</span>
  </button>

</div>