.calendar-card{
    width: 250px;
    height: 320px;
}


.tag-button{
    background: none;
    border: none;
    cursor: pointer;
}

.date-text{
    font-weight: 700;
    color: gray;
    &:hover{
        color: black;
    }
}