.main-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: calc(90vh - 40px);
}

.selection-toggle {
  border-radius: 5px;
}

.active {
  background-color: rgba(0, 0, 255, 0.1);
}