<main class="main-content">
    <!-- height is the height of (main-content.height - margin) -->
    <app-filter-table scrollable height="calc(90vh - 40px)" hideFilter>
        <filter-list>
            <mat-button-toggle-group hideSingleSelectionIndicator class="selection-toggle">
                <mat-button-toggle routerLink="historial" routerLinkActive="active">Historial</mat-button-toggle>
                <mat-button-toggle routerLink="assistances" routerLinkActive="active">Asistencias</mat-button-toggle>
                <mat-button-toggle routerLink="inscriptions" routerLinkActive="active">Inscripciones</mat-button-toggle>
            </mat-button-toggle-group>
        </filter-list>

        <filter-details>
            @if(courseResponse | async; as course){
            <app-course-data [courseResponse]="course" [id]="courseId"></app-course-data>
            }
        </filter-details>

        <filter-table>
            <router-outlet></router-outlet>
        </filter-table>
    </app-filter-table>
</main>