<div class="main-container">
  <app-nav-bar></app-nav-bar>

  <main>
    <div class="notifications">
      @for (messageComplete of completeMessages ; track $index ) {
      @if (messageComplete) {
      <app-notification-complete [message]="messageComplete.message"
          (onclick)="onDestroyElementComplete( messageComplete.id)"></app-notification-complete>
      }
      }

      @for (messageError of errorMessages; track $index) {
      @if (messageError) {
      <app-notification-error [message]="messageError.message" (onclick)="onDestroyElementError(messageError.id)">

      </app-notification-error>
      }
      }
  </div>

    <router-outlet></router-outlet>
  </main>

</div>
