mat-sidenav-container {
    height: 90vh;
}

.mat-drawer-content{
    z-index: 2;
}

.side-nav{
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border-right: 1px solid #ddd;
}

.course-form{
    width: 100%;
}