.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-container{
  position: relative;
  flex-grow: 1;
  overflow: auto;
}

tr.mat-mdc-footer-row {
  font-weight: 800;
}
.mat-column-entrance{
  width: 15%;
  text-align: center;
}
.sticky-paginator {
  position: relative;
  bottom: 0;
  z-index: 1;
}