<section class="table-container">
    <div class="container-loading mat-elevation-z8">
        @if (isLoadingResults) {
        <div class="loading-shade">
            @if (isLoadingResults) {
            <mat-spinner></mat-spinner>
            }
        </div>
        }
    </div>
    <table mat-table [dataSource]="(datasource | async)?.data ?? []" matSort matSortActive="created" matSortDisableClear
        matSortDirection="desc">
        @for (columShow of ColumsToShow; track $index) {
        @if (columShow.columRef == "created") {
        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{columShow.columName}}</th>
            <td mat-cell *matCellDef="let element"> {{(element.createdAt | date: 'dd MMMM' : 'UTC')+" de " +
                (element.createdAt
                | date: 'yyyy')}} </td>
        </ng-container>
        }

        @if(columShow.columRef == "actions"){
        <ng-container [matColumnDef]="columShow.columRef">
            <th mat-header-cell *matHeaderCellDef>
                {{columShow.columName}}
            </th>
            <td mat-cell *matCellDef="let element">
                <div style="display: flex; justify-content: space-evenly;">
                    @if(hidebuttons == false){
                    <button class="button-svg button-add" (click)="OnClickUpdate(element.id)">
                        <!-- SVG ICON -->
                    </button>
                    <button class="button-svg button-delete" (click)="OnClickDelete(element.id)">
                        <!-- SVG ICON -->
                    </button>
                    }
                </div>
            </td>
        </ng-container>
        }

        @if(columShow.columRef != "actions" && columShow.columRef != "created"){
        <ng-container [matColumnDef]="columShow.columRef">
            <th mat-header-cell *matHeaderCellDef>
                {{columShow.columName}} </th>
            <td mat-cell *matCellDef="let element">
                @for ( e of columShow.columData ; track $index) {
                <span>{{element[e] + " "}}</span>
                }
            </td>
        </ng-container>
        }
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (dblclick)="OnclickRow(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="sticky-paginator" [length]="totalItems()" [pageSizeOptions]="[10, 25, 50, 100]"
        [pageSize]="pageSize()" [pageIndex]="pageIndex()" aria-label="Select page" (page)="handlePageEvent($event)">
    </mat-paginator>
</section>