<main class="main">

    <div class="header-container">
        @if ((todayHistorial |async); as h) {
        <app-card-statistics title="Hoy" description="Total Asistencias" [numberStadistic]="h.data.length > 0 ? h.data[0].total :0">
            <historial-svg></historial-svg>
        </app-card-statistics>
        }

    </div>

    <div class="content-table">
        <app-filter-table scrollable>
            <filter-list>
                <h3>Total Asistencias</h3>
            </filter-list>

            <filter-details>
                <div class="filter-details">
                    <div class="filter-item">
                        <span>Fecha:</span>
                        <app-picker-range-text [rangeDate]="rangeDate()"
                            (_onUserSelect)="rangeDate.set($event)"></app-picker-range-text>
                    </div>
                </div>
            </filter-details>

            <filter-table>
                <app-historial-assistances-table [range]="rangeDate()"></app-historial-assistances-table>
            </filter-table>
        </app-filter-table>
    </div>


</main>