.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.header-container{
    flex: 1;
    margin: 20px; //Botom margin none
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .new-students {
        min-width: 40%;
        min-height: 60%;
        max-height: 200px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }
}
.filter-details{
    display: flex;
    justify-content: end;
    .filter-item{
        align-items: center;
        display: flex;
    }
}

.content-table{
    flex: 2;
}