.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.container-table {
    flex: 2;
}

.selection-toggle {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.active{
    background-color: rgba(0, 0, 255, 0.1);
}