<div class="container">
  <div class="container-card">
    <app-card-student [studentId]="studentId" (onUpdate)="OnUpdateStudent()"
      (onDelete)="OnDeleteStudent()"></app-card-student>
  </div>

  <app-filter-table scrollable hideFilter class="container-table">
    <filter-list>
      <mat-button-toggle-group hideSingleSelectionIndicator class="selection-toggle">
        <mat-button-toggle routerLink="assistances" routerLinkActive="active">Asistencias</mat-button-toggle>
        <mat-button-toggle routerLink="qr-code" routerLinkActive="active">Qr Code</mat-button-toggle>
      </mat-button-toggle-group>

    </filter-list>

    <filter-table>
      <router-outlet></router-outlet>
    </filter-table>

  </app-filter-table>
</div>